In [1]:
import pandas as pd

Data Ingestion

In [7]:
df=pd.read_csv('customers-100.csv')
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Index              100 non-null    int64
 1   Customer Id        100 non-null    object
 2   First Name         100 non-null    object
 3   Last Name          100 non-null    object
 4   Company            100 non-null    object
 5   City               100 non-null    object
 6   Country            100 non-null    object
 7   Phone 1            100 non-null    object
 8   Phone 2            100 non-null    object
 9   Email              100 non-null    object
 10  Subscription Date  100 non-null    object
 11  Website            100 non-null    object
dtypes: int64(1), object(11)
memory usage: 9.5+ KB

Deduplication

In [8]:
df=pd.read_csv('customers-100.csv')
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Length: 100, dtype: bool

In [9]:
df=pd.read_csv('customers-100.csv')
df.drop_duplicates()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

In [12]:
df=pd.read_csv('customers-100.csv')

df["Customer Id"].unique()

array(['DD37Cf93aecA6Dc', '1Ef7b82A4CAAD10', '6F94879bDAfE5a6',
       '5Cef8BFA16c5e3c', '053d585Ab6b3159', '2d08FB17EE273F4',
       'EA4d384DfDbBf77', '0e04AFde9f225dE', 'C2dE4dEEc489ae0',
       '8C2811a503C7c5a', '216E205d6eBb815', 'CEDec94deE6d69B',
       'e35426EbDEceaFF', 'A08A8aF8BE9FaD4', '6fEaA1b7cab7B6C',
       '8cad0b4CBceaeec', 'a5DC21AE3a21eaA', 'F8Aa9d6DfcBeeF8',
       'F160f5Db3EfE973', '0F60FF3DdCd7aB0', '9F9AdB7B8A6f7F2',
       'FBd0Ded4F02a742', '2FB0FAA1d429421', '010468dAA11382c',
       'eC1927Ca84E033e', '09D7D7C8Fe09aea', 'aBdfcF2c50b0bfD',
       'b92EBfdF8a3f0E6', '3B5dAAFA41AFa22', 'EDA69ca7a6e96a2',
       '64DCcDFaB9DFd4e', '679c6c83DD872d6', '7Ce381e4Afa4ba9',
       'A09AEc6E3bF70eE', 'aA9BAFfBc3710fe', 'E11dfb2DB8C9f72',
       '889eCf90f68c5Da', '7a1Ee69F4fF4B4D', 'dca4f1D0A0fc5c9',
       '17aD8e2dB3df03D', '2f79Cd309624Abb', '6e5ad5a5e2bB5Ca',
       '7E441b6B228DBcA', 'D3fC11A9C235Dc6', '30Dfa48fe5Ede78',
       'fD780ED8dbEae7B', '300A40d3ce24bBA', '283DFCD0Dba40aF',
       'F4Fc91fEAEad286', '80F33Fd2AcebF05', 'Aa20BDe68eAb0e9',
       'e898eEB1B9FE22b', 'faCEF517ae7D8eB', 'c09952De6Cda8aA',
       'f3BEf3Be028166f', 'C6F2Fc6a7948a4e', 'c8FE57cBBdCDcb2',
       'B5acdFC982124F2', '8c7DdF10798bCC3', 'C681dDd0cc422f7',
       'a940cE42e035F28', '9Cf5E6AFE0aeBfd', 'aEcbe5365BbC67D',
       'FCBdfCEAe20A8Dc', '636cBF0835E10ff', 'fF1b6c9E8Fbf1ff',
       '2A13F74EAa7DA6c', 'a014Ec1b9FccC1E', '421a109cABDf5fa',
       'CC68FD1D3Bbbf22', 'CBCd2Ac8E3eBDF9', 'Ef859092FbEcC07',
       'F560f2d3cDFb618', 'A3F76Be153Df4a3', 'D01Af0AF7cBbFeA',
       'd40e89dCade7b2F', 'BF6a1f9bd1bf8DE', 'FfaeFFbbbf280db',
       'CbAE1d1e9a8dCb1', 'A7F85c1DE4dB87f', 'D6CEAfb3BDbaa1A',
       'Ebdb6F6F7c90b69', 'E8E7e8Cfe516ef0', '78C06E9b6B3DF20',
       '03A1E62ADdeb31c', 'C6763c99d0bd16D', 'ebe77E5Bf9476CE',
       'E4Bbcd8AD81fC5f', 'efeb73245CDf1fF', '37Ec4B395641c1E',
       '5ef6d3eefdD43bE', '98b3aeDcC3B9FF3', 'aAb6AFc7AfD0fF3',
       '54B5B5Fe9F1B6C5', 'BE91A0bdcA49Bbc', 'cb8E23e48d22Eae',
       'CeD220bdAaCfaDf', '28CDbC0dFe4b1Db', 'c23d1D9EE8DEB0A',
       '2354a0E336A91A1'], dtype=object)

Column Management

In [13]:
df=pd.read_csv('customers-100.csv')

df["First Name"].unique()

array(['Sheryl', 'Preston', 'Roy', 'Linda', 'Joanna', 'Aimee', 'Darren',
       'Brett', 'Michelle', 'Carl', 'Jenna', 'Tracey', 'Kristine',
       'Faith', 'Miranda', 'Caroline', 'Greg', 'Clifford', 'Maxwell',
       'Kiara', 'Colleen', 'Janet', 'Shane', 'Marcus', 'Dakota',
       'Frederick', 'Stefanie', 'Kent', 'Jack', 'Tom', 'Gabriel',
       'Kaitlyn', 'Tammie', 'Nicholas', 'Jordan', 'Bruce', 'Sherry',
       'Natalie', 'Bryan', 'Wayne', 'Luis', 'Rhonda', 'Joanne',
       'Geoffrey', 'Gloria', 'Brady', 'Latoya', 'Gerald', 'Samuel',
       'Patricia', 'Stacie', 'Robin', 'Ralph', 'Phyllis', 'Danny',
       'Kathy', 'Kelli', 'Lynn', 'Shelley', 'Eddie', 'Chloe', 'Eileen',
       'Fernando', 'Makayla', 'Virginia', 'Riley', 'Alexandria',
       'Richard', 'Candice', 'Anita', 'Regina', 'Debra', 'Brittany',
       'Cassidy', 'Laurie', 'Alejandro', 'Leslie', 'Kathleen', 'Hunter',
       'Chad', 'Corey', 'Emma', 'Duane', 'Alison', 'Vernon', 'Lori',
       'Nina', 'Collin', 'Darrell', 'Karl', 'Fred', 'Yvonne', 'Clarence'],
      dtype=object)

In [22]:
cols_to_drop = ['Subscription Date', 'Website']
existing_cols = [col for col in cols_to_drop if col in df.columns]
df = df.drop(columns=existing_cols)
print("Columns dropped successfully.")

Columns dropped successfully.

In [23]:
df = df.rename(columns={'Customer Id': 'ID', 'Country': 'Location'})
print(df.head())

   Index               ID First Name Last Name  \
0      1  DD37Cf93aecA6Dc     Sheryl    Baxter
1      2  1Ef7b82A4CAAD10    Preston    Lozano
2      3  6F94879bDAfE5a6        Roy     Berry
3      4  5Cef8BFA16c5e3c      Linda     Olsen
4      5  053d585Ab6b3159     Joanna    Bender

                           Company               City  \
0                  Rasmussen Group       East Leonard
1                      Vega-Gentry  East Jimmychester
2                    Murillo-Perry      Isabelborough
3  Dominguez, Mcmillan and Donovan         Bensonview
4         Martin, Lang and Andrade     West Priscilla

                     Location                 Phone 1                Phone 2  \
0                       Chile            229.077.5154       397.884.0519x718
1                    Djibouti              5153435776       686-620-1820x944
2         Antigua and Barbuda         +1-539-402-0259    (496)978-3969x58947
3          Dominican Republic  001-808-617-6467x12895        +1-813-324-8756
4  Slovakia (Slovak Republic)  001-234-203-0635x76146  001-199-446-3860x3486

                         Email
0     zunigavanessa@smith.info
1              vmata@colon.com
2          beckycarr@hogan.com
3  stanleyblackwell@benson.org
4      colinalvarado@miles.net

In [24]:
# Example: Reorder columns
df = df.reindex(columns=['ID', 'Location', 'Age'])

# Example: Reset row index (optional)
df = df.reset_index(drop=True)

Missing Value Handling

In [25]:
print(df.isna().sum())

ID            0
Location      0
Age         100
dtype: int64

In [26]:
df_cleaned = df.dropna()
print(df_cleaned.head())

Empty DataFrame
Columns: [ID, Location, Age]
Index: []

In [29]:
df_filled = df.fillna(0)  # For numeric columns

print(df_filled.head())

                ID                    Location  Age
0  DD37Cf93aecA6Dc                       Chile  0.0
1  1Ef7b82A4CAAD10                    Djibouti  0.0
2  6F94879bDAfE5a6         Antigua and Barbuda  0.0
3  5Cef8BFA16c5e3c          Dominican Republic  0.0
4  053d585Ab6b3159  Slovakia (Slovak Republic)  0.0

In [30]:

df_filled = df.fillna("Unknown")  # For categorical columns
print(df_filled.head())

                ID                    Location      Age
0  DD37Cf93aecA6Dc                       Chile  Unknown
1  1Ef7b82A4CAAD10                    Djibouti  Unknown
2  6F94879bDAfE5a6         Antigua and Barbuda  Unknown
3  5Cef8BFA16c5e3c          Dominican Republic  Unknown
4  053d585Ab6b3159  Slovakia (Slovak Republic)  Unknown

In [33]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='mean')
df['Age'] = imputer.fit_transform(df[['Age']])
print(df.head())

                ID                    Location            Age
0  DD37Cf93aecA6Dc                       Chile  5.067288e-271
1  1Ef7b82A4CAAD10                    Djibouti  5.067288e-271
2  6F94879bDAfE5a6         Antigua and Barbuda  5.067288e-271
3  5Cef8BFA16c5e3c          Dominican Republic  5.067288e-271
4  053d585Ab6b3159  Slovakia (Slovak Republic)  5.067288e-271

Format Standardization

In [36]:
df=pd.read_csv('movies.csv')
df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021â€“ ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010â€“2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013â€“ ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias SchweighÃ¶fer\n| \n ...,NaN,NaN,NaN

In [41]:
df['MOVIES'] = df['MOVIES'].str.lower()
df

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,blood red sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,masters of the universe: revelation,(2021â€“ ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,the walking dead,(2010â€“2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,rick and morty,(2013â€“ ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,army of thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias SchweighÃ¶fer\n| \n ...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9994,the imperfects,(2021â€“ ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n \n Stars:\nMorgan Taylor Camp...,NaN,NaN,NaN
9995,arcane,(2021â€“ ),"\nAnimation, Action, Adventure",NaN,\nAdd a Plot\n,\n,NaN,NaN,NaN
9996,heart of invictus,(2022â€“ ),"\nDocumentary, Sport",NaN,\nAdd a Plot\n,\n Director:\nOrlando von Einsiedel\n| \n ...,NaN,NaN,NaN
9997,the imperfects,(2021â€“ ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN
9998,the imperfects,(2021â€“ ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN

In [ ]:
df['VOTES'] = df['VOTES'].str.strip()#remove extra spaces
df

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,blood red sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,masters of the universe: revelation,(2021â€“ ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,the walking dead,(2010â€“2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,rick and morty,(2013â€“ ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,army of thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias SchweighÃ¶fer\n| \n ...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9994,the imperfects,(2021â€“ ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n \n Stars:\nMorgan Taylor Camp...,NaN,NaN,NaN
9995,arcane,(2021â€“ ),"\nAnimation, Action, Adventure",NaN,\nAdd a Plot\n,\n,NaN,NaN,NaN
9996,heart of invictus,(2022â€“ ),"\nDocumentary, Sport",NaN,\nAdd a Plot\n,\n Director:\nOrlando von Einsiedel\n| \n ...,NaN,NaN,NaN
9997,the imperfects,(2021â€“ ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN
9998,the imperfects,(2021â€“ ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN